<!-- views/index.ejs -->
<!doctype html>
<html class="no-js" lang="EN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rss Feed</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/jquery-ui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" />
    <style>
    body {
        padding-top: 80px;
        word-wrap: break-word;
    }
    </style>
</head>

<body>
    <div class="container ">
        <div class="jumbotron text-center">
            <h1> Rss Feed Reader</h1>
            <div class="container row">
                <form class="form-rssUrl" action="/rssUrl" method="post">
                    <input type="text" name="rssUrl" class="form-control" placeholder="Enter Url for Rss Feed" required autofocus/>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </div>
                    <div class="col-xs-4"></div>
                </form>
                <% if (message.length > 0) { %>
                    <div id="message" class="alert alert-danger"><%= message %></div>
                <% } %>
            </div>
        </div>
        <% if (url.length > 0) { %>
            <div id="url" class="text-center">
                <h3>Rss Feed : <%= url %></h3></div>
            <% } %>
        <% if (articles.length > 0) { %>
          <ul>
            <% articles.forEach(function(article) { %>
              <a class="list-group-item" href="<%=article.link%>" >
                <% if (article.image != null || article.image != unknown) { %><img src="<%=article.image.url%>" alt="article image" align="left" height="78" ><% } %>
                <div <% if (article.image != null || article.image != (unknown)) { %>class="margin-left-150"<% } %>>
                  <h3 ><%= article.title%></h3>
                  <small class="pull-right"><%=article.date%></small>
                  <% if (article.author > 0) { %><small>Author : <%=article.author%></small><br><% } %>
                  <h7> <%=article.description%></h7>                 
                </div>
              </a>
            <% }); %>
          </ul>
        <% } %>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container text-center">
            <h3>Developed By :- Dhruv Tripathi</h4>
            </div>
        </nav>

    </body>
</html>
